Store Order Shipped

  This is just to let you know that we've shipped your recent order:


<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>

(text version)